
.header{float:left; width:100%; clear:both; margin-top:50px;}
.logo{float:left;}
.logo a{float:left; background:url(images/brokertron.png) 0 0 no-repeat; padding-left:55px; font:44px Arial, Helvetica, sans-serif;text-decoration:none; color: #960;}

.nav{float:right; width:336px; padding:0 20px; background:url(images/nav.png) 0 0 no-repeat; height:46px; margin:5px 10px 10px;  }
.nav li{width:167px; list-style:none; border-right:1px solid #c0bebe; float:left; text-align:center;}
.nav li.last{border:none;}
.nav li a{ padding:0 20px; color:#000; font:18px/45px  Arial, Helvetica, sans-serif;}
.nav li a:hover,.nav li a.active{color:#16A8CC;}

.subnav{float:left; width:860px; height:59px; background:url(images/subNav.png) 0 0 no-repeat; margin-bottom:-15px;  position:relative; z-index:111}
.subnav ul{display:block;}
.subnav ul li{float:left; list-style:none; margin-right:30px;}
.subnav ul li a{color:#222; font:18px/55px arial; }
.subnav ul li a:hover{color:#fff;text-shadow:0 0 3px #fff;}
.subnav ul li a.active{color:#fff;   }

.footer {
 float:left;
 width:100%;
 background:#AAAAAA;
 padding:10px 0;
 text-align:center;
 color:#960;
 margin:10px 0;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px; 
 border-radius: 5px;
 margin-bottom:10px;
}
.footer a {
 color:#C73200!important;
}
.footer a.flogo {
 background:url(images/logo1.png)  0 0 no-repeat;
 padding-left:40px;
 font-size:18px;
}

